<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd">

    <!-- Root Context: defines shared resources visible to all other web components -->
    <!--<context:property-placeholder location="classpath*:jdbc.properties" ignore-unresolvable="true" system-properties-mode="ENVIRONMENT"/>-->

    <bean id="mysqlDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <!-- Connection Info -->
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://${mysql.jdbc.host}:${mysql.jdbc.port}/${mysql.jdbc.db}?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;allowMultiQueries=true&amp;useSSL=false"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>

        <property name="acquireIncrement" value="${acquireIncrement}"/>
        <property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}"/>
        <property name="checkoutTimeout" value="${checkoutTimeout}"/>
        <property name="maxPoolSize" value="${maxPoolSize}"/>
        <property name="minPoolSize" value="${minPoolSize}"/>
        <property name="maxStatements" value="${maxStatements}"/>
        <property name="initialPoolSize" value="${initialPoolSize}"/>
        <!--最大空闲时间,60秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0-->
        <property name="maxIdleTime" value="${maxIdleTime}"/>

    </bean>

    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="mysqlDataSource"/>
        <!--<property name="dataSource" ref="mysqlDataSource"/>-->
    </bean>

    <!-- enable transaction demarcation with annotations -->
    <tx:annotation-driven/>

    <!-- define the SqlSessionFactory -->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="mysqlDataSource"/>
        <!--<property name="mapperLocations">
            <array>
                <value>classpath*:com/xinao/mapper/*Mapper.xml</value>
                <value>classpath*:com/xinao/mapper/*Mapper.xml</value>
            </array>
        </property>-->
        <property name="mapperLocations" value="classpath*:com/xinao/dal/mapper/*Mapper.xml"></property>
        <property name="configLocation" value="classpath:zhwl-mybatis-conf.xml"/>
    </bean>

    <!-- SqlSessionTemplate将会保证使用的SqlSession是和当前Spring的事务相关的。 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sessionFactory"/>
    </bean>

    <!-- scan for mappers and let them be autowired -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.xinao.dal.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
        <property name="sqlSessionTemplateBeanName" value="sqlSession"/>
    </bean>

</beans>